<main>
  <div class="gradient-container"></div>
  <section [ngClass]="{'isLogin': isLogin}">
      <span>{{ isLogin ? 'Login' : 'Register' }}</span>

      <div [ngClass]="{'active': email}">
        <p>Email</p>
        <input
          type="text"
          placeholder=""
          [(ngModel)]="email"
        >
      </div>

      <div [ngClass]="{'active': password}">
        <p>Senha</p>
        <input
          type="password"
          placeholder=""
          [(ngModel)]="password"
        >
      </div>

      @if(!isLogin) {
        <div [ngClass]="{'active': confirmPassword}">
          <p>Confirmar Senha</p>
          <input
            type="password"
            placeholder=""
            [(ngModel)]="confirmPassword"
          >
        </div>
      }

      <app-button
        styleClass="btn-primary"
        [label]="isLogin
          ? 'Login'
          : 'Register'"
      ></app-button>
  </section>
</main>
