html,
body {
  width: 100%;
  height: 100%;

  margin: 0;
  display: initial;
  display: block;
  background-color: #010a13;

  font-family: "Caudex", serif;

  font-size: 20px;
}

p,
figure {
  margin-block: 0;
  margin-inline: 0;
}

strong,
p,
span {
  font-family: "Caudex", serif;
}

* {
  box-sizing: content-box !important;
}
