<main>
  <section id="capture">
    <ul>
      <ng-container *ngIf="hasChampion; else firstView">
        <img [src]="champion.image" [alt]="champion.id_name" loading="lazy">
      </ng-container>

      <ng-template #firstView>
        <div class="firstView"></div>
      </ng-template>

      <li class="gradient-container">
        <div>
          <label>
            <ng-container *ngIf="hasChampion; else notChampionSelect">
              <span>
                O Campeão Perfeito de
                <strong>Henrique Nunes</strong>
              </span>

            </ng-container>
            <ng-template #notChampionSelect>
              <span>
                Nenhum Campeão Selecionado!
                <strong> - - - </strong>
              </span>
            </ng-template>
            <span>{{hasChampion ? champion.name : ''}}</span>
          </label>
        </div>
      </li>

      <ng-container *ngFor="let spell of championsSelectResult?.spells">
        <li class="champion-spell-details" [ngClass]="{'noData': !spell?.selected}">
          <figure>
            <img loading="lazy" [src]="!spell?.selected ? '../../../assets/images/utils/no-selected.png' : spell.image"
              [alt]="!spell?.selected ? '?' : spell?.champion">
          </figure>

          <div class="details">
            <label>
              <span class="champion-name"> {{ !spell?.selected ? '?' : spell?.champion }} </span>
              <span class="spell-name"> {{ !spell?.selected ? '?' : spell?.title}} </span>
            </label>

            <!-- <span class="spell-description" [innerHTML]="!spell?.selected ? '- - -' : spell?.description"></span> -->
          </div>
        </li>
      </ng-container>
    </ul>

    <div style="height: 50px;  display: flex; align-items: center; justify-content: center;">
      <p style="color: #ffffff;font-weight: 100;font-size: 18px;">Feito com: <strong
          style="color: #0bc6e3;font-weight: 900;font-size: 24px;">ultimatechampioncreator.netlify.app</strong></p>
    </div>
  </section>

  <app-button styleClass="btn-primary" label="COMPARTILHE" [disable]="!disableButton" (onClick)="share()"></app-button>
</main>

<div id="display-for-canvas" style="display: none;"></div>
<div id="display-for-generate-print" style="display: none;"></div>
