<main>
  <section>
    <ul>
      <img [src]="'../../../assets/images/champions/splash/'+champion.id_name+'_0.jpg'">

      <li class="gradient-container">
        <div>
          <label>
            <span>1</span>
            <span>{{champion.name}}</span>
          </label>
        </div>
      </li>

      <ng-container *ngFor="let spell of championsSelectResult?.spells">
        <li class="champion-spell-details">
          <figure>
            <img [src]="'../../../assets/images/spells/'+spell?.image">
          </figure>

          <div class="details">
            <label>
              <span class="champion-name"> {{spell?.champion}} </span>
              <span class="spell-name"> {{spell?.title}} </span>
            </label>

            <span class="spell-description">{{spell?.description}}</span>
          </div>
        </li>
      </ng-container>
    </ul>
  </section>
</main>
<!-- <p>{{championsSelectResult | json}}</p> -->
<!-- <p>{{champion | json}}</p> -->
