<main onselectstart="return false">
  <app-input-text
    placeholder="Pesquise o campeão"
    (modelChange)="filterChampion($event)"
  ></app-input-text>

  @if (hasChampion) {
    <div>
      @for(champ of championsList; track champ.name) {
        <section [ngClass]="{'active': champ.selected}" (click)="selectChamp(champ)">
          <img [src]="champ.tiles" draggable="false" [alt]="champ.name">
          <span> {{ champ.name }}</span>
        </section>
      }
    </div>
  }
  @else {
    <div class="noData">
      <strong> Nenhuma informação encontrada! </strong>
    </div>
  }

  <footer>
    <app-button
      styleClass="btn-primary"
      label="TROCAR CAMPEÃO"
      (onClick)="handleChampionListSelectChange()"
      [disable]="hasChampionSelect"
      [pTooltip]="hasChampionSelect ? 'Selecione um campeão' : ''"
      tooltipPosition="top"
    ></app-button>
  </footer>
</main>
