main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  > div {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 20px;
    gap: 40px 80px;
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
    overflow-x: hidden;

    section {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      min-height: 280px;
      cursor: pointer;

      img {
        width: 100%;

        transition: ease-out 0.3s;
        border: 3px solid transparent;
        opacity: 0.6;
      }

      span {
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: 700;
      }

      &.active {
        img {
          transition: ease 0.3s;
          border: 3px solid #c89b3c;
          opacity: 1;
        }

        span {
          width: 100%;
          border: 10px solid;
          border-image-slice: 1;
          border-width: 5px;
          border-left: 0;
          border-right: 0;
          border-bottom: 0;
          border-image-source: linear-gradient(
            270.01deg,
            #90eae6 61.49%,
            rgba(144, 234, 230, 0) 109.89%
          );
        }
      }
    }

    &.noData {
      min-height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      color: #c5c5c5;
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  main {
    height: 100% !important;
    justify-content: space-between !important;
    > div {
      grid-template-columns: 1fr 1fr !important;
      padding: 0 20px !important;
      gap: 40px 20px !important;
      max-height: 400px !important;
      min-height: 400px !important;

      section {
        min-height: 190px !important;
      }
    }
  }
}
