<main>
  <div>
    <ng-container *ngFor="let champ of championsList">
      <section [ngClass]="{'active': champ.selected}" (click)="selectChamp(champ)">
        <img [src]="'../../../../assets/images/champions/tiles/'+champ.id_name+'_0.jpg'">

        <span> {{ champ.name }}</span>
      </section>
    </ng-container>
  </div>

  <p (click)="handleChampionSelectChange()">clique</p>
  <footer>
    <app-button styleClass="btn-primary" label="TROCAR CAMPEÃO" (onClick)="handleChampionSelectChange()"></app-button>
  </footer>
</main>
