/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "../src/assets/base/base.scss";
@import "../src/assets/layout/button.scss";

@import "../src/assets/layout/primeng/p-virtualScroller.scss";
@import "../src/assets/layout/primeng/p-dynamicDialog.scss";

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400;1,400;1,500&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap");

*::-webkit-scrollbar-thumb {
  background-color: #a9a9a9;
  border-radius: 10px;
  border: 1px solid #ffffff00;
}

:host ::ng-deep .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}

p-dialog {
  .p-dialog {
    .p-dialog-header,
    .p-dialog-content,
    .p-dialog-footer {
      background-color: #091428;
    }
  }

  .p-dialog {
    &.information-modal {
      .p-dialog-content,
      .p-dialog-header {
        label {
          display: flex;
          flex-direction: column;
          gap: 16px;

          p {
            font-family: "Inter", sans-serif;
            color: white;
          }
        }

        strong {
          font-family: "Inter", sans-serif;
          color: white;
          font-size: 32px;
        }
      }
    }
  }
}
