div {
  main {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 77px;

    figure {
      position: relative;
      img {
        width: 100%;
        aspect-ratio: 6/2;
        object-fit: fill;
      }

      label {
        position: absolute;
        bottom: 32px;
        left: 20%;
        right: 20%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          font-style: italic;
          font-weight: 700;
          line-height: 125%;
          text-align: center;
          color: #ffffff;
          font-size: 96px;
          white-space: nowrap;

          &:first-child {
            font-size: 32px;
          }
        }
      }
    }

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 96px;

      div.champion-spell-content {
        display: flex;
        flex-direction: row;
        gap: 60px;
        width: 100%;
        justify-content: center;
        height: auto;

        hr {
          height: 96px;
          border-left: 1px solid;
          border-color: #c89b3c;
          margin: 0 !important;
        }

        &_P,
        &_Q,
        &_W,
        &_E,
        &_R {
          background: #41474e;
          width: 96px;
          height: 96px;

          position: relative;

          &.active {
            border: 3px solid #c89b3c;

            strong {
              width: 102px;
              left: -3px;

              border: 10px solid;
              border-image-slice: 1;
              border-width: 5px;
              border-left: 0;
              border-right: 0;
              border-bottom: 0;
              border-image-source: linear-gradient(
                270.01deg,
                #90eae6 61.49%,
                rgba(144, 234, 230, 0) 109.89%
              );
            }
          }

          strong {
            position: absolute;
            bottom: -49px;
            color: white;
            font-size: 32px;
            width: 96px;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:hover {
            cursor: pointer;
          }
        }
        div.spell-keys {
          display: flex;
          gap: 109px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      div.champion-spell-list {
        width: 70%;
        height: 700px;
        background: #091428;
        border: 1px solid #c89b3c;
        border-radius: 4px;

        display: flex;
        flex-direction: column;

        input {
          width: 80%;
          padding: 20px 50px;
          outline: none;
          border: 1px solid #c89b3c;
          background: #091428;
          margin: 32px auto;
          font-size: 16px;
          color: white;
        }

        div.spell-main {
          max-height: 80%;
          overflow: scroll;
          overflow-x: hidden;

          section.champion-spell-details {
            width: 80%;
            margin: 42px auto;
            height: 80px;
            display: flex;
            gap: 40px;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            cursor: pointer;

            figure {
              height: 80px;
              width: 80px;
              position: unset;

              img {
                height: 80px;
                width: 80px;
              }
            }

            div.details {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 4px;

              label {
                display: flex;
                gap: 24px;
                align-items: center;
                cursor: pointer;

                span {
                  font-family: "Caudex";
                  font-style: normal;
                  font-size: 24px;
                  color: white;

                  &.champion-name {
                    font-size: 26px;
                    font-weight: 700;
                    color: #c89b3c;
                  }
                }
              }

              span.spell-description {
                font-family: "Sans Serif Collection";
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: white;
                line-height: 18px;
                max-height: 70px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
            }

            &.active {
              background-color: rgba(65, 71, 78, 0.5);
            }
          }
        }

      }
    }
  }
}
