<div onselectstart="return false">
    <main>
      <figure [ngClass]="{'first-view': !hasChampionSelected}">
          @if(hasChampionSelected) {
            <img
              [src]="championSelected.image"
              [alt]="championSelected.name"
            />
          }
        <label>
          <span> {{ hasChampionSelected ? championSelected.title : 'Ultimate Champion Creator' }} </span>
          <span> {{ hasChampionSelected ? championSelected.name : 'Bem-Vindo' }} </span>

          @if (!loading) {
            <app-button (onClick)="showChampionList()" styleClass="btn-primary" label="TROCAR CAMPEÃO"></app-button>
          }
        </label>
      </figure>

      <section>
        <div class="gradient-container"></div>
        <div class="champion-spell-content">
          <div
            class="champion-spell-content_{{spellsSelectionsItems[0].label}}"
            [ngClass]="{'active': spellsSelectionsItems[0].active}"
            (click)="selectSpell(spellsSelectionsItems[0].key)">

              @if (championsSelectResult.spells[0]) {
                <img
                  loading="lazy"
                  [src]="championsSelectResult.spells[0].image"
                  [alt]="spellsSelectionsItems[0].label"
                >
              }
            <strong>{{ spellsSelectionsItems[0].label }}</strong>

            <app-triangle [type]="spellsSelectionsItems[0].label"></app-triangle>
          </div>

          <hr>

          <div class="spell-keys">
            @for(spell of spellsSelectionsItems; track spell.key; let idx = $index){
              @if (idx > 0) {
                <div
                  class="champion-spell-content_{{spell.label}}"
                  [ngClass]="{'active': spell.active}"
                  (click)="selectSpell(spell.key); "
                >

                  @if (championsSelectResult.spells[idx]) {
                    <img
                      loading="lazy"
                      [src]="championsSelectResult.spells[idx].image"
                      [alt]="spell.label"
                    >
                  }

                  <strong>{{ spell.label }}</strong>

                  <app-triangle [type]="spell.label"></app-triangle>
                </div>
              }
            }
          </div>
        </div>

        <div class="champion-spell-list">
          @if (!loading) {
            <app-spell-list
              (emitSelectedSpell)="setHability($event)"
            ></app-spell-list>
          }
        </div>
      </section>

      <hr>

      <h1> Compartilhe seu Campeão </h1>

      <app-share-champion
        [championsSelectResult]="championsSelectResult"
        [champion]="championSelected"
      ></app-share-champion>
    </main>
</div>
<!--TODO FUNCIONALIDADE DE LOGIN/LOGOUT/REGISTER-->

<!--TODO OTIMIZAR/CLEAN CODE/MELHORAR CARREGAMENTO DAS IMAGENS-->
<!--!TODO LOGO-->
<!--TODO LINKS RODAPE-->
<!--TODO README GITHUB-->
<!--TODO VERSAO PARA NAO RESPEITAR AS TECLAS DE HABILIDADES E PODER USAR QUAIS QUISER EM QQR POSICAO (SEM PASSIVA)-->


<!--! FAZER ALTERAÇOES PARA ADICIONAR SIGNALS -->
