<div onselectstart="return false">
  <main>
    <figure>
      <img
        src="../../../assets/images/champions/splash/MasterYi_0.jpg"
        alt="MasterYi_0"
      />

      <label>
        <span> O ESPADACHIM WUJU </span>
        <span> MASTER YI </span>

        <app-button styleClass="btn-primary" label="TROCAR CAMPEÃO"></app-button>
      </label>
    </figure>

    <section>
      <div class="champion-spell-content">
        <div
          class="champion-spell-content_{{spellsSelectionsItems[0].label}}"
          [ngClass]="{'active': spellsSelectionsItems[0].active}"
          (click)="selectSpell(spellsSelectionsItems[0].key)">

          <ng-container *ngIf="championsSelectResult.spells[0]">
            <img
              loading="lazy"
              [src]="'../../../assets/images/spells/'+ championsSelectResult.spells[0].image"
              [alt]="spellsSelectionsItems[0].label"
            >
          </ng-container>

          <strong>{{ spellsSelectionsItems[0].label }}</strong>
        </div>

        <hr>

        <div class="spell-keys">
          <ng-container *ngFor="let spell of spellsSelectionsItems; let i = index">
            <ng-container *ngIf="i > 0">
              <div
                class="champion-spell-content_{{spell.label}}"
                [ngClass]="{'active': spell.active}"
                (click)="selectSpell(spell.key); ">

                <ng-container *ngIf="championsSelectResult.spells[i]">
                  <img
                    loading="lazy"
                    [src]="'../../../assets/images/spells/'+ championsSelectResult.spells[i].image"
                    [alt]="spell.label"
                  >
                </ng-container>

                <strong>{{ spell.label }}</strong>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>

      <div class="champion-spell-list">
        <input
          type="text"
          placeholder="Pesquise a habilidade ou campeão"
          [(ngModel)]="searchChampionInput"
          (ngModelChange)="filterSpell()"
        >
        <div class="spell-main">
          <p-virtualScroller [value]="listGeneralSpells.spells" scrollHeight="550px" [itemSize]="30" [lazy]="true">
            <!-- <ng-container *ngFor="let spell of listGeneralSpells.spells; let i = index"> -->
              <ng-template pTemplate="item" let-spell>
                <section
                  class="champion-spell-details"
                  [ngClass]="{'active': spell.selected}"
                  (click)="selectHability(listGeneralSpells.spells, spell)"
                >
                  <figure>
                    <img [src]="'../../../assets/images/spells/'+spell.image">
                  </figure>

                  <div class="details">
                    <label>
                      <span class="champion-name"> {{spell.champion}} </span>
                      <span class="spell-name"> {{spell.title}} </span>
                    </label>

                    <span class="spell-description">{{spell.description}}</span>
                  </div>
                </section>
              </ng-template>
            <!-- </ng-container> -->
          </p-virtualScroller>
        </div>
      </div>
    </section>
  </main>
</div>
