div {
  main {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 77px;

    figure {
      position: relative;
      img {
        width: 100%;
        aspect-ratio: 6/2;
        object-fit: fill;
      }

      label {
        position: absolute;
        bottom: 32px;
        left: 20%;
        right: 20%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
          font-style: italic;
          font-weight: 700;
          line-height: 125%;
          text-align: center;
          color: #ffffff;
          font-size: 96px;
          white-space: nowrap;

          &:first-child {
            font-size: 32px;
          }
        }
      }
    }

    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 96px;

      div.champion-spell-content {
        display: flex;
        flex-direction: row;
        gap: 60px;
        width: 100%;
        justify-content: center;
        height: auto;

        hr {
          height: 96px;
          border-left: 1px solid;
          border-color: #c89b3c;
          margin: 0 !important;
        }

        &_P,
        &_Q,
        &_W,
        &_E,
        &_R {
          background: #41474e;
          width: 96px;
          height: 96px;

          position: relative;

          &.active {
            border: 3px solid #c89b3c;

            strong {
              width: 102px;
              left: -3px;

              border: 10px solid;
              border-image-slice: 1;
              border-width: 5px;
              border-left: 0;
              border-right: 0;
              border-bottom: 0;
              border-image-source: linear-gradient(
                270.01deg,
                #90eae6 61.49%,
                rgba(144, 234, 230, 0) 109.89%
              );
            }
          }

          strong {
            position: absolute;
            bottom: -49px;
            color: white;
            font-size: 32px;
            width: 96px;
            left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:hover {
            cursor: pointer;
          }
        }
        div.spell-keys {
          display: flex;
          gap: 109px;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      div.champion-spell-list {
        width: 70%;
        height: 700px;
        background: #091428;
        border: 1px solid #c89b3c;
        border-radius: 4px;

        display: flex;
        flex-direction: column;

        div.spell-main {
          max-height: 80%;
          overflow: scroll;
          overflow-x: hidden;
        }
      }
    }
  }
}

app-input-text {
  width: 80%;
  margin: 32px auto;
  color: white;
  display: flex;
  display: block;
}
