<main onselectstart="return false">
  @if (hasData) {
    <app-input-text
      placeholder="Pesquise a habilidade ou campeão"
      (modelChange)="filterSpell($event)"
    ></app-input-text>

    @if (listGeneralSpells[selectedSpell].spells.length > 0) {
      <div class="container-list">

        <ag-virtual-scroll #vs [items]="listGeneralSpells[selectedSpell].spells" [min-row-height]="120" class="box-border">
          <div class="demo-item" *ngFor="let spell of vs.items">
            <section
              class="champion-spell-details"
              [ngClass]="{'active': spell.selected}"
              (click)="selectHability(listGeneralSpells[selectedSpell].spells, spell)"
            >
              <figure>
                <img
                  [src]="spell.image"
                  [alt]="spell.champion"
                >
              </figure>

              <div class="details">
                <label>
                  <span class="champion-name"> {{spell.champion}}
                  </span>
                  <span class="spell-name">
                    {{spell.title}}
                  </span>
                </label>

                <span [ngClass]="{'hovered': spell.selected}" class="spell-description" [innerHTML]="spell.description"></span>
              </div>
            </section>
          </div>
        </ag-virtual-scroll>
      </div>
    }
    @else {
      <div class="noItem">
        <strong> Nenhuma informação encontrada! </strong>
      </div>
    }
  }
  @else {
    <div class="noData">
      <strong> Selecione uma Habilidade para iniciar! </strong>

      <img
        src="../../../../assets/images/utils/SummerSplit2020MissionThumbnail.png"
        alt="SummerSplit2020MissionThumbnail.png"
        loading="lazy"
      >
    </div>
  }
</main>
