<main onselectstart="return false">
  <ng-container *ngIf="enabled">
    <app-input-text
    placeholder="Pesquise a habilidade ou campeão"
    (modelChange)="filterSpell($event)"
    ></app-input-text>
  </ng-container>


  <ng-container *ngIf="hasSpell; else noData">
    <div class="container-list">

      <ag-virtual-scroll #vs [items]="listGeneralSpells[selectedSpell].spells" [min-row-height]="120" class="box-border">
        <div class="demo-item" *ngFor="let spell of vs.items">
          <section
            class="champion-spell-details"
            [ngClass]="{'active': spell.selected}"
            (click)="selectHability(listGeneralSpells[selectedSpell].spells, spell)"
          >
            <figure>
              <img [src]="'../../../assets/images/spells/'+spell.image">
            </figure>

            <div class="details">
              <label>
                <span class="champion-name"> {{spell.champion}}
                </span>
                <span class="spell-name">
                  {{spell.title}}
                </span>
              </label>

              <span [ngClass]="{'hovered': spell.selected}" class="spell-description" [innerHTML]="spell.description"></span>
            </div>
          </section>
        </div>
      </ag-virtual-scroll>
      <!-- </ng-container> -->
    </div>
    <!-- <p-virtualScroller [value]="listGeneralSpells[selectedSpell].spells" scrollHeight="550px" [itemSize]="120" [lazy]="true" #el> -->
  </ng-container>

  <ng-template #noData>
    <div class="noData">
      <strong> Nenhuma informação encontrada! </strong>
    </div>
  </ng-template>
</main>
