div.container-list {
  max-height: 570px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 75px;

  section.champion-spell-details {
    padding: 0 70px;
    display: flex;
    gap: 48px;

    cursor: pointer;

    figure {
      height: 80px;
      width: 80px;
      position: unset;

      img {
        height: 80px;
        width: 80px;
        border-radius: 4px;
      }
    }

    div.details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;

      label {
        display: flex;
        gap: 24px;
        align-items: center;
        cursor: pointer;
        span {
          font-family: "Caudex", serif;

          font-style: normal;
          font-size: 24px;
          color: white;

          &.champion-name {
            font-size: 26px;
            font-weight: 700;
            color: #c89b3c;
          }
        }
      }

      span.spell-description {
        font-family: "Caudex", serif;
        transition: ease-out 0.3s;
        background-color: transparent;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        transition: ease-out 0.3s;
        color: white;
        line-height: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        &.hovered {
          transition: ease 0.3s;
          max-height: 100%;
          display: block;
        }
      }
    }

    &.active {
      transition: ease 0.3s;
      background-color: rgba(65, 71, 78, 0.5);
      border-radius: 4px 0px 0px 4px;
    }
  }
}

app-input-text {
  width: 80%;
  margin: 32px auto;
  color: white;
  display: flex;
}

div.noItem {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #c5c5c5;
}

div.noData {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #e4ac8d;
  filter: drop-shadow(-1px 2px 14px black);

  img {
    width: 160px;
    height: 160px;
    filter: drop-shadow(2px 4px 4px #c89b3c);
  }
}

@media (max-width: 480px) {
  div.noData {
    flex-direction: column;
    padding: 0 10px;
  }

  section.champion-spell-details {
    padding: 0px 10px !important;
    gap: 10px !important;

    figure {
      img {
        height: 50px !important;
        width: 50px !important;
      }
    }
    div.details {
      label {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 0 !important;

        span {
          &.champion-name {
            font-size: 24px !important;
          }

          &.spell-name {
            font-size: 22px !important;
          }
        }
      }
    }
  }

  .noData {
    strong {
      text-align: center;
    }
  }

  app-input-text {
    width: 90% !important;

    &::ng-deep input {
      width: 100% !important;
      padding: 20px 10px !important;
    }
  }
}
